/* Styles for the leaderboard */

.leaderboard-header {
    color: var(--text-background);
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    height: 78px;
    margin: 0;
}

.leaderboard-header h1, h4 {
    margin: 0;
    font-weight: 100;
}

.winners {
    color: var(--text-background);
    text-align: center;
    list-style-position: inside;
    padding: 0;
    height: 504px;
    margin: 0;
}

.winners li {
    padding: 10px;
    display: flex;
}

.winners .wins {
    margin-left: auto;
}

.winners p {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 19px;
}

.winners li:nth-child(odd) {
    background: var(--accent);
}

.leaderboard {
    background: var(--foreground);
    width: 100%;
}

.username-wins-label {
    display: flex;
    margin: 0 10px;
}

.username-label {
    margin-right: auto;
}